@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dcdcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 41, 41);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dcdcdc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .params-container {
    @apply min-w-[200px] grid grid-cols-1 gap-4 px-4;
  }
  .params-select {
    @apply border rounded-xl py-2 px-3 border-gray-500 hover:border-green-400 cursor-pointer;
  }
}
